doctype html
html
  head
    title Bryant Ku
    script(type='text/javascript', src='/js/vendors.js')
    script(type='text/javascript', src='/js/home.js')
  body(ng-app="kubryant")
    block content
